body{
    background-color: black;
    color:white;
    font-family: adultswim;
    text-align: center;
}
@font-face {
    font-family: adultswim;
    src: url(font/Adult-Swim-Font.ttf);
}
.header{
    position: sticky;
    text-align: center;
    line-height: 10px;
}
video{
    width: 500px;
}
a{
    color:gainsboro;
}